@charset "utf-8";

ul, li, p, div {
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.message-div {
    width: 90vw;
}
    
.message-list {
    list-style: none;
}

.message {
    color: white;
    text-align: center;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}
    
tr.linked-tr {
    cursor:pointer;
}
tr.linked-tr:hover {
    background:#ccc
}

td {
    text-align: center;
}

.img-div {
    width: 40vw;
    margin: 0 auto;
}
.img-div > img {
    width: 40vw;
}

.form-div, .prev-next-div, .home-div {
    width: 30vw;
    margin: 0 auto;
    text-align: center;
}
.prev-next-div p{
    width: 15vw;
    text-align: center;
    float: left;
}


.save-button {
    width: 5vw;
}

.vw5 { width: 5vw; }
.vw10 { width: 10vw; }
.vw15 { width: 15vw; }
.vw20 { width: 20vw; }

