
{% extends 'template.html' %}


{% block content %}
<p>
    ファイル名: {{img_name}}
    {% if label == None %}
        (未アノテーション)
    {% else %}
        (アノテーション済)
    {% endif %}

</p>

<div class="img-div">
    <img src="{{img_path}}"/>
    {{img_path}}
</div>

<div class="form-div">
    <form method="post" action="/annotate/{{index}}">
        {% for label in labels %}
            <input type="radio" name="ant" value="{{label}}" {{checked_or_not[loop.index0]}}>{{label}}
        {% endfor %}
        <p>
            <input type="submit" value="save" class='save-button'>
        </p>
    </form>
</div>

<div class="prev-next-div">
    <p>
        <a href="/annotate/{{index-1}}">prev</a>
    </p>
    <p>　
        <a href="/annotate/{{index+1}}">next</a>
    </p>
</div>

<div class="home-div">
    <p>
        <a href="/{{page_index}}">home</a>
    </p>
</div>
{% endblock %}
