
{% extends 'template.html' %}

{% if label == 'locked' %}
    {% set locked_radio = 'checked' %}
    {% set non_locked_radio = '' %}
{% else %}
    {% set locked_radio = '' %}
    {% set non_locked_radio = 'checked' %}
{% endif %}

{% block content %}
<p>
    ファイル名: {{img}}
    {% if label == None %}
        (未アノテーション)
    {% else %}
        (アノテーション済)
    {% endif %}

</p>

<div class="img-div">
    <img src="/static/images/{{img}}"/>
</div>

<div class="form-div">
    <form method="post" action="/annotate/{{id}}">
        <input type="radio" name="locked" value="locked" {{locked_radio}}>locked
        <input type="radio" name="locked" value="non-locked" {{non_locked_radio}}>non-locked
        <p>
            <input type="submit" value="save" class='save-button'>
        </p>
    </form>
</div>


<div class="prev-next-div">
    <p>
        <a href="/annotate/{{id-1}}">prev</a>
    </p>
    <p>　
        <a href="/annotate/{{id+1}}">next</a>
    </p>
</div>

<div class="home-div">
    <p>
        <a href="/">home</a>
    </p>
</div>
{% endblock %}
