<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Image Annotation Tool</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="container">
        <div class='message'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class='message-list'>
                {% for m in messages %}
                    <li>{{ m }}</li>
                {% endfor %}
                </ul>
            {% endif%}
            {% endwith %}
        </div>
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>